body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #c8eeb3b0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color: #233224;
}

img {
    width: 60%;
}

.cards-participantes {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    border: 1px solid #233224;
    border-radius: 16px;
    width: 25%;
    background-color: #ffffffa1;
}

.participantes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    color: #233224;
    text-align: center;
    background-color: #ff0000;
    border-radius: 15px 15px 0 0;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sorteio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 10px;
    border-radius: 15px;
    border: 5px outset #30be1d;
}

button:hover {
    border: 5px inset #30be1d;
}

#div_participantes {
    text-align: start;
    font-weight: 600;
    color: #233224;
}

#div_sorteio {
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    color: #ff0000;
}